
<div id="{{$ctrl.divid}}" class="modal fade bd-example-modal-lg" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header badge-primary">
                <h4 class="modal-title text-capitalize"><span class="icon-id-card-o badge-primary"></span>Turno: {{$ctrl.turno.ID}} <span ng-if="$ctrl.turno.PacienteID">Paciente: {{$ctrl.paciente.Apellido}}, {{$ctrl.paciente.Nombre}}</span></h4>
                <button type="button" ng-click="close()" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body p-0">
                <div class="border border-info p-0 m-0">
                    <fieldset class="m-0 p-0">
                        <div class="form-inline bg-light" ng-if="$ctrl.turno.Estado == 1 || $ctrl.turno.Estado == 3">
                            <md-button type="button" class="m-0" ng-disabled="$ctrl.paciente.ID > 0 || $ctrl.pacienteSeleccionado.ID == null" ng-click="$ctrl.asignarPaciente()"><i class="icon-user"></i> Asignar Paciente</md-button>
                            <md-button type="button" class="m-0" ng-disabled="($ctrl.turno.PacienteID > 0 && $ctrl.turno.Estado == 2) || $ctrl.paciente.ID == null" ng-click="$ctrl.confirmarTurno()"><i class="icon-ok"></i> Confirmar Turno</md-button>
                            <md-button type="button" class="m-0" ng-click="$ctrl.cancelarTurno()"><i class="icon-cancel"></i> Cancelar Turno</md-button>
                            <md-button type="button" class="m-0" ng-disabled="$ctrl.paciente.ID == null" ng-click="$ctrl.openDiagnostico()"><i class="icon-stethoscope"></i> Diagnóstico</md-button>
                            <md-button type="button" class="m-0" ng-click="$ctrl.turnoPrint()"><i class="icon-print"></i> Imprimir</md-button>
                        </div>
                        <div class="form-inline bg-light" ng-if="$ctrl.turno.Estado == 2">
                            <md-button type="button" class="m-0" ng-click="$ctrl.changeSesionState(true)" title="Asistio a la/s Sesion/es"><i class="icon-calendar-check-o"></i> Asistio</md-button>
                            <md-button type="button" class="m-0" ng-click="$ctrl.changeSesionState(false)" title="No asistio a la/s Sesion/es"><i class="icon-calendar-times-o"></i> No Asistio</md-button>
                            <md-button type="button" class="m-0" ng-click="" title="Posponer Sesion/es"><i class="icon-calendar-empty"></i> Posponer</md-button>
                            <md-button type="button" class="m-0" ng-click="$ctrl.agregarSesiones()" title="Agregar Sesion/es"><i class="icon-calendar-plus-o"></i> Agregar</md-button>
                            <md-button type="button" class="m-0" ng-click="$ctrl.cancelarTurno()" title="Cancelar Turno"><i class="icon-cancel"></i> Cancelar</md-button>
                            <md-button type="button" class="m-0" ng-click="$ctrl.openDiagnostico()" title="Ver/Modificar Diagnóstico"><i class="icon-stethoscope"></i> Diagnóstico</md-button>
                            <md-button type="button" class="m-0" ng-click="$ctrl.turnoPrint()" title="Imprimir Turno"><i class="icon-print"></i> Imprimir</md-button>
                        </div>
                    </fieldset>
                    <fieldset>
                        <search-paciente on-change="$ctrl.SelectPaciente" add-quick="true" ng-hide="$ctrl.turno.PacienteID > 0" class="w-100">
                        </search-paciente>
                        <div class="form-check" ng-show="$ctrl.turno.Estado == 1 && $ctrl.turno.PacienteID > 0">
                            <input type="checkbox" class="form-check-input" ng-model="$ctrl.continuar" id="checkContinuar">
                            <label class="form-check-label" for="checkContinuar">Continuar sesiones anteriores.</label>
                        </div>
                    </fieldset>
                    
                    <input id="TurnoID" type="text" ng-hide="1==1" ng-model="$ctrl.turno.ID" ng-change="$ctrl.turnoChange()" />
                    <table class="table table-responsive-sm table-hover table table-responsive-sm table-hover border">
                        <thead class="thead-light">
                            <tr class="bg-light">
                                <th scope="col" class="text-center w-auto p-2">Número</th>
                                <th scope="col" class="text-center w-auto p-2">Fecha</th>
                                <th scope="col" class="text-center w-auto p-2">Horario</th>
                                <th scope="col" class="text-center w-auto p-2">Consultorio</th>
                                <th scope="col" class="text-center w-auto p-2">Estado</th>
                                <th ng-if="$ctrl.turno.Estado == 2"></th>
                            </tr>
                        </thead>
                        <tr ng-repeat="sesion in $ctrl.turno.Sesions track by $index" style="cursor:pointer">
                            <td class="text-center w-auto p-1">{{sesion.Numero}}</td>
                            <td class="text-center w-auto p-1">{{$ctrl.toDate(sesion.FechaHora)}}</td>
                            <td class="text-center w-auto p-1">{{$ctrl.toHourRange(sesion.FechaHora, sesion.sesiones)}}</td>
                            <td class="text-center w-auto p-1">{{$ctrl.getNombreConsultorio(sesion.ConsultorioID)}}</td>
                            <td class="text-center w-auto p-1">{{$ctrl.getNombreEstado(sesion.Estado)}}
                            <span ng-show="sesion.Estado == 8" class="icon-calendar text-danger" 
                                  ng-click="$ctrl.openCambiarSesionModal(sesion)"></span>
                            </td>
                            <td ng-if="$ctrl.turno.Estado == 2" class="text-center w-auto p-1">
                                <input type="checkbox" ng-if="sesion.Estado == 2" ng-model="sesion.selected" />
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <md-button type="button" class="md-raised md-warn" data-dismiss="modal"><i class="icon-cancel"></i> Cerrar</md-button>                
            </div>
        </div>
    </div>
</div>

