<md-dialog aria-label="Turnos" md-draggable>
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools  badge-primary">
                <h5 class="modal-title">Turno - Doble Orden</h5>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">            
                    <label>Paciente con doble orden?</label>            
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button type='button' class='md-raised md-warn' ng-click='answer(false)'><i class='icon-cancel'></i> NO</md-button>
            <md-button type='button' class='md-raised md-primary' ng-click='answer(true)'><span class='icon-ok'></span> SI</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
