<div id="CreateOrUpdate" class="modal fade bd-example-modal-lg" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header badge-primary">
                <h4 class="modal-title text-capitalize"><span class="icon-hospital"></span>
                    {{$ctrl.profesional.Nombre + ' ' + $ctrl.profesional.Apellido}}</h4>
                <button type="button" class="close" data-dismiss="modal" ng-click="$ctrl.close()">&times;</button>
            </div>
            <div class="modal-body">
                <form name="frmprofesional" id="frmprofesional" novalidate>
                    <input type="hidden" class="form-control" ng-model="$ctrl.profesional.ID">
                    <fieldset>
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <md-input-container class="md-block">
                                    <label for="Nombre">Nombre:</label>
                                    <input type="text" class="form-control" id="Nombre" name="nombre" ng-model="$ctrl.profesional.Nombre" maxlength="50" required>
                                    <div ng-show="frmprofesional.nombre.$touched" ng-messages="frmprofesional.nombre.$error" role="alert">
                                        <span ng-messages-include="~/Home/FormElementError" class="ng-mesagges"></span>
                                    </div>
                                </md-input-container>
                            </div>
                            <div class="col-md-6 form-group">
                                <md-input-container class="md-block">
                                    <label for="Apellido">Apellido</label>
                                    <input type="text" id="Apellido" name="apellido" ng-model="$ctrl.profesional.Apellido" required maxlength="50">
                                    <div ng-show="frmprofesional.apellido.$touched" ng-messages="frmprofesional.apellido.$error" role="alert">
                                        <span ng-messages-include="~/Home/FormElementError" class="ng-mesagges"></span>
                                    </div>
                                </md-input-container>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 form-group">                                
                                <md-input-container class="md-block">                                    
                                    <md-checkbox ng-repeat="tipo in $ctrl.Tipos" ng-click="$ctrl.AddOrDelete(tipo.Value)"
                                                 ng-model="$ctrl.checkBoxTipos[tipo.Value]" aria-label="{{tipo.Text}}">
                                        {{tipo.Text}}
                                    </md-checkbox>
                                </md-input-container>
                            </div>
                        </div>       
                                              
                        <div class="row">
                            <div class="col-md-4 form-group">
                                <md-input-container class="md-block">
                                    <label>
                                        Día
                                    </label>
                                    <md-select id="dia" name="diasemana" ng-model="$ctrl.NuevoDia.diaSemana" required>
                                        <md-option ng-repeat="item in $ctrl.diasSemana" ng-value="{{item.Value}}">{{item.Text}}</md-option>
                                    </md-select>
                                    <div ng-show="$ctrl.frmprofesional.diasemana.$touched" ng-messages="$ctrl.frmprofesional.diasemana.$error" role="alert">
                                        <span ng-messages-include="~/Home/FormElementError" class="ng-mesagges"></span>
                                    </div>
                                </md-input-container>
                            </div>
                            <div class="col-md-3 form-group">
                                <md-input-container class="md-block">
                                    <label for="Desde">Desde:</label>
                                    <input type="time" class="form-control" id="Desde" name="desde" min="{{$ctrl.minHours}}" max="{{$ctrl.maxHours}}" required
                                           ng-model="$ctrl.NuevoDia.desde">
                                    <div ng-show="$ctrl.frmprofesional.desde.$touched" ng-messages="$ctrl.frmprofesional.desde.$error" role="alert">
                                        <span ng-messages-include="~/Home/FormElementError" class="ng-mesagges"></span>
                                    </div>
                                </md-input-container>
                            </div>

                            <div class="col-md-3 form-group">
                                <md-input-container class="md-block">
                                    <label for="Hasta">Hasta:</label>
                                    <input type="time" class="form-control" id="Hasta" name="hasta" min="{{$ctrl.minHours}}" max="{{$ctrl.maxHours}}" required
                                           ng-model="$ctrl.NuevoDia.hasta">
                                    <div ng-show="$ctrl.frmprofesional.hasta.$touched" ng-messages="$ctrl.frmprofesional.hasta.$error" role="alert">
                                        <span ng-messages-include="~/Home/FormElementError" class="ng-mesagges"></span>
                                    </div>
                                </md-input-container>
                            </div>
                            <div class="col-md-2 form-group">
                            <button ng-click="$ctrl.addDay($ctrl.NuevoDia)" class="form-control">Agregar</button>    
                            </div>
                            </div>

                            <div class="row">
                                <table class="table" ng-show="$ctrl.profesional.Horarios.length > 0">
                                    <thead class="thead-light">
                                        <tr>
                                            <th scope="colgroup">*</th>
                                            <th scope="col">
                                                Día
                                            </th>
                                            <th scope="col">
                                                Desde
                                            </th>
                                            <th>
                                                Hasta
                                            </th>
                                            <th>

                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="(index, dia) in $ctrl.profesional.Horarios track by index">
                                            <th scope="row">
                                                {{index+1}}
                                            </th>
                                            <td>
                                                {{$ctrl.nameOfDay(dia.diaSemana).Text}}
                                            </td>
                                            <td>
                                                {{dia.desde | date : "HH:mm"}}
                                            </td>
                                            <td>
                                                {{dia.hasta | date : "HH:mm"}}
                                            </td>
                                            <td>
                                                <span class="icon-trash-empty btn" ng-click="$ctrl.removeDay(index)"></span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>

                            @*<div class="row">
            <div class="col-md-12 form-group">
                <md-input-container class="md-block">
                    <md-checkbox ng-repeat="tipo in $ctrl.Tipos" ng-click="$ctrl.AddOrDelete(tipo.Value)"
                                 ng-model="$ctrl.checkBoxTipos[tipo.Value]" aria-label="{{tipo.Text}}">
                        {{tipo.Text}}
                    </md-checkbox>
                </md-input-container>
            </div>
        </div>*@
</fieldset>
                </form>                        
            </div>
            <div class="modal-footer">
                <md-button type="button" class="md-raised md-warn" ng-click="close()" data-dismiss="modal"><i class="icon-cancel"></i> Cancelar</md-button>
                <md-button type="submit" class="md-raised md-primary" ng-click="$ctrl.save($ctrl.profesional)"><span class="icon-floppy"></span> Guardar</md-button>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('.modal-dialog').draggable({handle: ".modal-header"});
    });
</script>