<div>
    <div class="panel panel-default">
        <div class="panel-body">
            <div ng-controller="profesionalController" ng-init="GetProfesionales()">

                <table class="table table-responsive-sm table-hover slide table-sm table-bordered mt-0 pt-0" style="caption-side: top">
                    @*<caption><p>Pagina {{currentPage+1}} / {{pages.length}}</p></caption>*@
                    <caption style="caption-side:top;" class="mb-0 pb-0">
                        <nav class="mb-0 pb-0 badge-light">
                            <ul class="pagination justify-content-center mb-0 pb-0 badge-light">
                                <li class="page-item mb-0 badge-light w-100 text-center" ng-class="{active:letter==selectedLetter}" ng-repeat="letter in arrayLetter">
                                    <p class="page-link mb-0 badge-light" ng-click="setLetter(letter)">{{letter}}</p>
                                </li>
                            </ul>
                        </nav>
                    </caption>
                    <thead class="thead-light">
                        <tr>
                            @*<th scope="col">Id</th>*@
                            <th scope="col" class="text-center w-25">Apellido</th>
                            <th scope="col" class="text-center w-25">Nombre</th>
                            <th scope="col" class="text-center w-auto">Habilitado</th>
                            <th scope="col" class="text-center w-auto">Action</th>
                        </tr>
                    </thead>
                    <tr ng-repeat="profesional in profesionales" class="animate-table-repeat">
                        @*<th scope="row">{{profesional.ID}}</th>*@
                        <td class="align-middle"><span>{{profesional.Apellido}}</span></td>
                        <td class="align-middle"><span>{{profesional.Nombre}}</span></td>
                        <td class="text-center align-middle">
                            <span class="icon-ok" ng-show="profesional.Habilitado"></span>
                            <span class="icon-cancel" ng-hide="profesional.Habilitado"></span>
                        </td>
                        <td class="text-center align-middle">                            
                            <div class="d-inline" ng-click="Delete(profesional)">
                                <md-tooltip md-direction="bottom">Eliminar</md-tooltip>
                                <span class="icon-trash-empty btn"></span>
                            </div>
                            <div class="d-inline" data-target="#CreateOrUpdate" data-toggle="modal" ng-click="Edit(profesional.ID)">
                                <md-tooltip md-direction="bottom">Editar</md-tooltip>
                                <span class="icon-edit btn"></span>
                            </div>
                            @*<md-button class="p-0 w-auto" data-target="#CreateOrUpdatePacienteAusencia" data-toggle="modal" ng-click="CreateAusencia(profesional.ID)">*@
                            <div class="d-inline" data-target="#CreateOrUpdatePacienteAusencia" data-toggle="modal" ng-click="CreateAusencia(profesional.ID)">
                                <md-tooltip md-direction="bottom">Nueva Ausencia</md-tooltip>
                                <span class="icon-calendar btn"></span>
                            </div>


                            @*</md-button>*@

                            @*<button class="btn btn-xs btn-danger" ng-click="DeleteUser(employee.Id)"><i class="fa fa-trash"></i></button>*@
                        </td>
                    </tr>
                    <tfoot>
                        <tr>
                            <td colspan="6" class="align-middle">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination justify-content-center">
                                        <li class="page-item text-center" ng-click="setPage(0)" ng-class="{disabled:currentPage==0}">
                                            <a class="page-link" tabindex="-1" ng-click="setPage(0)">|<</a>
                                        </li>
                                        <li class="page-item text-center" ng-class="{disabled:currentPage==0}">
                                            <a class="page-link" tabindex="-1" ng-click="setPage(currentPage - 1)"><</a>
                                        </li>
                                        <li class="page-item text-center" ng-class="{active:(page-1)==currentPage}" ng-repeat="page in pages | limitTo : 10 : initPage">
                                            <p class="page-link" ng-click="setPage(page-1)">{{page}}</p>
                                        </li>
                                        <li class="page-item text-center" ng-class="{disabled:(pages.length - 1)==currentPage}">
                                            <a class="page-link" tabindex="-1" ng-click="setPage(currentPage + 1)">></a>
                                        </li>
                                        <li class="page-item text-center" ng-class="{disabled:(pages.length - 1)==currentPage}">
                                            <a class="page-link" tabindex="-1" ng-click="setPage(pages.length - 1)">>|</a>
                                        </li>
                                    </ul>
                                </nav>
                            </td>
                        </tr>
                    </tfoot>
                </table>

                <div class="form-group">
                    <md-button type="button" class="md-fab md-primary" data-target="#CreateOrUpdate" data-toggle="modal" ng-click="Create()">
                        <md-tooltip md-direction="right">Nuevo Profesional</md-tooltip>
                        <span class="icon-user-plus" style="font-size:1rem"></span>
                    </md-button>
                </div>
                <profesional-edit profesional="ProfesionalModel" save-callback="GetProfesionales" div-id="CreateOrUpdate"></profesional-edit>
                <profesional-ausencia-edit ausencia="ausencia"></profesional-ausencia-edit>
            </div>

        </div>
    </div>

</div>

