<div id="DatosSesiones" class="modal fade bd-example-modal-lg" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header badge-primary">
                <h4 class="modal-title text-capitalize"><span class="icon-id-card-o badge-primary"></span>Paciente: {{$ctrl.paciente.Apellido}}, {{$ctrl.paciente.Nombre}}</h4>
                <button type="button" ng-click="close()" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body p-0">
                <div class="border border-info p-0 m-0">                    
                    <input id="PacienteID" type="text" ng-hide="1==1" ng-model="$ctrl.PacienteID" ng-change="$ctrl.pacienteChange()" />
                    <input id="TurnoID" type="text" ng-hide="1==1" ng-model="$ctrl.TurnoID" />
                    <paciente-turnos pacienteid="$ctrl.paciente.ID" parent="$ctrl.parent" on-close="$ctrl.close()"></paciente-turnos>
                </div>
            </div>
            <div class="modal-footer">
                <md-button type="button" class="md-raised md-warn" data-dismiss="modal"><i class="icon-cancel"></i> Cerrar</md-button>
            </div>
        </div>
    </div>
</div>

