



        

            <div class="modal-header badge-primary">
                <h4 class="modal-title text-capitalize"><span class="icon-id-card-o badge-primary"></span>Paciente: {{$ctrl.paciente.Apellido}}, {{$ctrl.paciente.Nombre}}</h4>
                <button type="button" ng-click="$ctrl.cancelar()" class="close">&times;</button>
            </div>
            <div class="modal-body p-0" style="max-height:65vh; overflow:auto;">
                <div class="border border-info p-0 m-0">                    
                    <paciente-turnos paciente="$ctrl.paciente" pacienteid="$ctrl.paciente.ID" parent="$ctrl.parent" on-close="$ctrl.close()"></paciente-turnos>
                </div>
            </div>
            <div class="modal-footer">
                <md-button type="button" class="md-raised md-warn" ng-click="$ctrl.cancelar()"><i class="icon-cancel"></i> Cerrar</md-button>
            </div>
        


