<div class="form-inline my-2 my-lg-0">
    <md-autocomplete class="mr-sm-2" md-selected-item="$ctrl.Paciente"
                     md-search-text="$ctrl.searchText"
                     md-items="item in $ctrl.search()"
                     md-item-text="item.Apellido + ' ' + item.Nombre"
                     md-selected-item-change="$ctrl.UpdateDate()"
                     md-min-length="3"
                     placeholder="Paciente"                     
                     >
        <md-item-template style="background-color:aquamarine">
            <span md-highlight-text="$ctrl.searchText" md-highlight-flags="^i" style="z-index:9999">{{item.Apellido + ' ' + item.Nombre}}</span>
        </md-item-template>
        <md-not-found style="z-index:9999">
            No se encontraron pacientes.
        </md-not-found>
    </md-autocomplete>

    
    <button data-target="#ViewPaciente" data-toggle="modal" class="btn btn-outline-light  my-2 my-sm-0" type="submit" ng-click="$('#basicModal').modal('show');" ng-disabled="$ctrl.Paciente==null"><span class="icon-search"></span></button>   
</div>

    <paciente-edit paciente="$ctrl.Paciente" save="Save" div-id="ViewPaciente"></paciente-edit>

<!--
md-search-text-change="$ctrl.search()"
-->
