<div class="container overflow-auto p-2" class="max-height:65vh">    
    <div ng-if="$ctrl.getInformation == true" class="text-center" style="overflow:hidden">
        <span class="icon-spinner animate-spin p-4 display-4"></span>
    </div>
    <div ng-repeat="turno in $ctrl.turnos" class="border border-info p-0 m-0" id="div{{turno.ID}}" ng-hide="$ctrl.reading" ng-if="!(turno.Estado==4)">        
        <table class="table table-sm table-responsive-sm table-hover table table-bordered m-0 p-1" style="caption-side:top;" ng-hide="$ctrl.reading">
            <caption style="caption-side:top;" class="m-0 p-1 text-left">
                <span style="cursor:pointer" ng-click="turno.visible = !turno.visible">Turno {{turno.ID}} <small ng-if="turno.NumeroAutorizacion"> ({{turno.NumeroAutorizacion}}) </small></span>
                <span style="cursor:pointer" class="icon-pencil text-primary" ng-click="$ctrl.openCambiarNumeroAutorizacion(turno)" title="Modificar Número Autorización"></span>
                <span style="cursor:pointer" ng-click="turno.visible = !turno.visible"> - {{$ctrl.getTipoSesion(turno.TipoSesionID)}} - {{$ctrl.toDate(turno.begin)}} a {{$ctrl.toDate(turno.end)}} - {{turno.CantidadSesiones}} Sesiones</span>
                <span style="cursor:pointer" ng-hide="turno.Estado==4" class="icon-print text-primary font-weight-bold" ng-click="$ctrl.turnoPrint(turno)" title="Imprimir"></span>
                <span style="cursor:pointer" ng-hide="turno.Estado==4" class="icon-mail text-primary font-weight-bold" ng-click="$ctrl.sendTurno(turno)" title="Enviar Turno"></span>
                <span style="cursor:pointer" ng-hide="turno.Estado==4" class="icon-whatsapp text-primary font-weight-bold" ng-click="$ctrl.sendTurnoWhatsapp(turno)" title="Enviar Turno Whatsapp"></span>
                <span style="cursor:pointer" class="icon-stethoscope text-primary font-weight-bold" ng-click="$ctrl.openDiagnostico(turno)" title="Diagnóstico"></span>
                <span style="cursor:pointer" class="icon-clone text-primary font-weight-bold" ng-class="{'text-warning' : turno.TurnoDoble}" ng-click="$ctrl.openDobleOrden(turno)" title="Doble Orden"></span>
                <span style="cursor:pointer" ng-hide="turno.Estado==4" class="icon-credit-card text-primary font-weight-bold" ng-click="$ctrl.FacturacionTurnoShow(turno)" title="Facturacion"></span>
                <span style="cursor:pointer" ng-hide="turno.Estado==4" class="icon-cancel text-danger font-weight-bold" ng-click="$ctrl.cancelarSesionSelect($event, turno)" title="Cancelar Turno"></span>


            </caption>
            <thead>
                <tr ng-show="turno.visible" class="bg-light">
                    <th scope="col" class="text-center w-auto">Número</th>
                    <th scope="col" class="text-center w-auto p-2" ng-if="turno.NumeroAutorizacion">Código</th>
                    <th scope="col" class="text-center w-25">Fecha</th>
                    <th scope="col" class="text-center w-25">Horario</th>
                    <th scope="col" class="text-center w-25">Consultorio</th>
                    <th scope="col" class="text-center w-25">Estado</th>
                </tr>
            </thead>
            <tr ng-show="turno.visible" ng-class="{'text-primary':$ctrl.bolder(sesion.Estado),'text-danger':$ctrl.bolder(sesion.Estado)==false}" ng-repeat="sesion in turno.Sesions track by $index"
                style="cursor:pointer; background:{{$ctrl.getColorConsultorio(sesion.ConsultorioID)}}">
                <td class="text-center w-auto" ng-click="$ctrl.sesionClick(sesion.FechaHora)">{{sesion.Numero}}</td>                
                <td class="text-center w-auto p-1" ng-if="turno.NumeroAutorizacion">{{sesion.CodigoTransaccion}} <strong class="icon-pencil text-primary" title="Modificar Código Transacción" ng-if="sesion.Estado == 4 || sesion.Estado == 5" ng-click="$ctrl.openCambiarCodigoTransaccion(sesion)"></strong></td>
                <td class="text-center w-25" ng-click="$ctrl.sesionClick(sesion.FechaHora)">{{$ctrl.toDate(sesion.FechaHora)}}</td>
                <td class="text-center w-25" ng-click="$ctrl.sesionClick(sesion.FechaHora)">{{$ctrl.toHourRange(sesion.FechaHora, sesion.sesiones)}}</td>
                <td class="text-center w-25" ng-click="$ctrl.sesionClick(sesion.FechaHora)">{{$ctrl.getNombreConsultorio(sesion.ConsultorioID)}}</td>
                <td class="text-center w-25">
                    {{$ctrl.getNombreEstado(sesion.Estado)}}
                    <span ng-show="sesion.Estado == 4 && sesion.FueDobleOrden == 1"> - Doble</span>
                    <span ng-show="sesion.Estado == 8 || sesion.Estado == 1 || sesion.Estado == 2" class="icon-calendar text-danger"
                          ng-click="$ctrl.openCambiarSesionModal(sesion)"></span>
                    <span ng-show="sesion.Estado == 6" class="icon-trash-empty text-danger"
                          ng-click="$ctrl.sesionAnular(sesion.ID)"></span>
                </td>
            </tr>
        </table>
    </div>
</div>

