<style>
    /*.md-select-menu-container {
        z-index: 99999 !important;
    }*/
</style>
<div id="{{$ctrl.divid}}" class="modal fade bd-example-modal-lg" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header badge-primary">
                <h4 class="modal-title text-capitalize"><span class="icon-id-card-o badge-primary"></span>{{$ctrl.paciente.Nombre}} {{$ctrl.paciente.Apellido}}</h4>
                <button type="button" ng-click="close()" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body p-0">
                @*<input type="hidden" class="form-control" ng-model="$ctrl.paciente.ID">*@
                <div ng-cloak>
                    <md-content>
                        <md-tabs md-dynamic-height md-border-bottom md-selected="$ctrl.selectedIndex">

                            <md-tab label="Datos Paciente">
                                <md-content>
                                    <div class="container-fluid p-0">
                                        <form name="$ctrl.frmPaciente" id="frmPaciente" ng-cloak novalidate>
                                            <fieldset class="m-0 pb-0">
                                                <input type="text" id="hPacienteID" ng-model="$ctrl.paciente.ID" ng-change="$ctrl.hiddenChange()" ng-show="true==false" />
                                                <div class="form-row">
                                                    <div class="form-group col-md-3 pr-4">
                                                        <webcam base64="$ctrl.paciente.Foto" on-take="$ctrl.takedPhoto(data)"></webcam>
                                                        @*<img class="img-fluid" src="../content/addphoto-camera.svg" />*@
                                                    </div>
                                                    <div class="form-group col-md-9">
                                                        <div class="form-row">
                                                            <div class="col-md-6">
                                                                <md-input-container class="form-group md-block">
                                                                    <label for="nombre">
                                                                        Nombre
                                                                    </label>
                                                                    <input type="text" value="" class="form-control text-capitalize" id="nombre"
                                                                           name="nombre" ng-model="$ctrl.paciente.Nombre" autocomplete="off" required maxlength="50" />
                                                                    <div ng-show="$ctrl.frmPaciente.nombre.$touched" ng-messages="$ctrl.frmPaciente.nombre.$error" role="alert">
                                                                        <span ng-messages-include="~/Home/FormElementError" class="ng-mesagges"></span>
                                                                    </div>
                                                                </md-input-container>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <md-input-container class="form-group md-block">
                                                                    <label for="apellido">
                                                                        Apellido
                                                                    </label>
                                                                    <input type="text" value="" class="form-control text-capitalize" id="apellido"
                                                                           name="apellido" ng-model="$ctrl.paciente.Apellido" autocomplete="off" required maxlength="50" />
                                                                    <div ng-show="$ctrl.frmPaciente.apellido.$touched" ng-messages="$ctrl.frmPaciente.apellido.$error" role="alert">
                                                                        <span ng-messages-include="~/Home/FormElementError" class="ng-mesagges"></span>
                                                                    </div>
                                                                </md-input-container>
                                                            </div>
                                                        </div>
                                                        <div class="form-row">
                                                            <div class="col-md-4">
                                                                <md-input-container class="form-group md-block">
                                                                    <label for="nacimiento">
                                                                        Fecha Nacimiento
                                                                    </label>

                                                                    <md-datepicker ng-model="$ctrl.paciente.FechaNacimiento" required id="nacimiento" name="nacimiento" md-open-on-focus></md-datepicker>
                                                                    <div ng-show="$ctrl.frmPaciente.nacimiento.$touched" ng-messages="$ctrl.frmPaciente.nacimiento.$error" role="alert">
                                                                        <span ng-messages-include="~/Home/FormElementError" class="ng-mesagges"></span>
                                                                    </div>
                                                                </md-input-container>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <md-input-container class="form-group md-block">
                                                                    <label for="documento">
                                                                        Documento
                                                                    </label>
                                                                    <input type="text" value="" class="form-control" id="documento"
                                                                           name="documento" ng-model="$ctrl.paciente.DocumentoNumero" autocomplete="off" required maxlength="10" />
                                                                    <div ng-show="$ctrl.frmPaciente.documento.$touched" ng-messages="$ctrl.frmPaciente.documento.$error" role="alert">
                                                                        <span ng-messages-include="~/Home/FormElementError" class="ng-mesagges"></span>
                                                                    </div>
                                                                </md-input-container>
                                                            </div>

                                                            <div class="col-md-4">
                                                                <md-input-container class="form-group md-block">
                                                                    <label for="cuit">
                                                                        Cuit
                                                                    </label>
                                                                    <input type="text" value="" class="form-control" id="cuit" autocomplete="off"
                                                                           name="cuit" ng-model="$ctrl.paciente.Cuit" maxlength="20" />
                                                                    <div ng-show="$ctrl.frmPaciente.cuit.$touched" ng-messages="$ctrl.frmPaciente.cuit.$error" role="alert">
                                                                        <span ng-messages-include="~/Home/FormElementError" class="ng-mesagges"></span>
                                                                    </div>
                                                                </md-input-container>
                                                            </div>
                                                        </div>

                                                    </div>

                                                </div>
                                            </fieldset>
                                            <div class="clearfix"></div>
                                            <fieldset class="m-0 pt-0 pb-0">
                                                <div class="form-row">
                                                    <div class="form-group col-md-5">
                                                        <md-input-container class="form-group md-block">
                                                            <label>
                                                                Aseguradora
                                                            </label>
                                                            <md-select id="aseguradora" name="aseguradora" ng-model="$ctrl.paciente.AseguradoraID" ng-change="$ctrl.getPlanes()" required>
                                                                <md-option ng-repeat="item in $ctrl.ObrasSociales" ng-value="{{item.Value}}">{{item.Text}}</md-option>
                                                            </md-select>
                                                            <div ng-show="$ctrl.frmPaciente.aseguradora.$touched" ng-messages="$ctrl.frmPaciente.aseguradora.$error" role="alert">
                                                                <span ng-messages-include="~/Home/FormElementError" class="ng-mesagges"></span>
                                                            </div>
                                                        </md-input-container>
                                                    </div>
                                                    <div class="form-group col-md-4 col-lg-5">
                                                        <md-input-container class="form-group md-block">
                                                            <label>
                                                                Plan
                                                            </label>
                                                            <md-select id="plan" name="plan" ng-model="$ctrl.paciente.AseguradoraPlanID" required>
                                                                <md-option ng-repeat="item in $ctrl.Planes" ng-value="{{item.Value}}">{{item.Text}}</md-option>
                                                            </md-select>
                                                            <div ng-show="$ctrl.frmPaciente.plan.$touched" ng-messages="$ctrl.frmPaciente.plan.$error" role="alert">
                                                                <span ng-messages-include="~/Home/FormElementError" class="ng-mesagges"></span>
                                                            </div>
                                                        </md-input-container>
                                                    </div>
                                                    <div class="form-group col-lg-2 col-md-3">
                                                        <md-input-container class="form-group md-block">
                                                            <md-checkbox id="gravado" name="gravado" ng-model="$ctrl.paciente.EsGravado">Gravado</md-checkbox>
                                                            <div ng-show="$ctrl.frmPaciente.gravado.$touched" ng-messages="$ctrl.frmPaciente.gravado.$error" role="alert">
                                                                <span ng-messages-include="~/Home/FormElementError" class="ng-mesagges"></span>
                                                            </div>
                                                        </md-input-container>
                                                    </div>
                                                </div>
                                                <div class="form-row">
                                                    <div class="form-group col-md-4">
                                                        <md-input-container class="form-group md-block">
                                                            <label>
                                                                Código Seguridad
                                                            </label>
                                                            <input type="text" value="" id="afiliado" name="afiliado" class="form-control" ng-model="$ctrl.paciente.CodigoSeguridad" maxlength="5"/>
                                                            <div ng-show="$ctrl.frmPaciente.codigoseguridad.$touched" ng-messages="$ctrl.frmPaciente.codigoseguridad.$error" role="alert">
                                                                <span ng-messages-include="~/Home/FormElementError" class="ng-mesagges"></span>
                                                            </div>
                                                        </md-input-container>
                                                    </div>
                                                    <div class="form-group col-md-4">
                                                        <md-input-container class="form-group md-block">
                                                            <label>
                                                                Nro Afiliado
                                                            </label>
                                                            <input type="text" value="" id="afiliado" name="afiliado" class="form-control" ng-model="$ctrl.paciente.NumeroAfiliado" maxlength="30" />
                                                            <div ng-show="$ctrl.frmPaciente.afiliado.$touched" ng-messages="$ctrl.frmPaciente.afiliado.$error" role="alert">
                                                                <span ng-messages-include="~/Home/FormElementError" class="ng-mesagges"></span>
                                                            </div>
                                                        </md-input-container>
                                                    </div>
                                                    <div class="form-group col-md-4">
                                                        <md-input-container class="form-group md-block">
                                                            <label>
                                                                OS
                                                            </label>
                                                            <input type="text" id="os" name="os" value="" class="form-control" ng-model="$ctrl.paciente.NumeroHC" autocomplete="off" maxlength="30"/>
                                                            <div ng-show="$ctrl.frmPaciente.os.$touched" ng-messages="$ctrl.frmPaciente.os.$error" role="alert">
                                                                <span ng-messages-include="~/Home/FormElementError" class="ng-mesagges"></span>
                                                            </div>
                                                        </md-input-container>
                                                    </div>


                                                </div>
                                            </fieldset>
                                            <div class="clearfix"></div>
                                            <fieldset class="m-0 pt-0 pb-0">
                                                <div class="form-row">
                                                    <div class="form-group col-md-6">
                                                        <md-input-container class="form-group md-block">
                                                            <label for="provincia">Provincia</label>
                                                            <md-select id="provincia" name="provincia" ng-model="$ctrl.paciente.ProvinciaID" ng-change="$ctrl.getLocalidades()">
                                                                <md-option ng-repeat="item in $ctrl.Provincias" ng-value="{{item.Value}}">{{item.Text}}</md-option>
                                                            </md-select>
                                                            <div ng-show="$ctrl.frmPaciente.provincia.$touched" ng-messages="$ctrl.frmPaciente.provincia.$error" role="alert">
                                                                <span ng-messages-include="~/Home/FormElementError" class="ng-mesagges"></span>
                                                            </div>
                                                        </md-input-container>
                                                    </div>
                                                    <div class="form-group col-md-6">
                                                        <md-input-container class="form-group md-block">
                                                            <label for="ciudad">Ciudad</label>
                                                            <md-select id="ciudad" name="ciudad" ng-model="$ctrl.paciente.LocalidadID">
                                                                <md-option ng-repeat="item in $ctrl.Localidades" ng-value="{{item.Value}}">{{item.Text}}</md-option>
                                                            </md-select>
                                                            <div ng-show="$ctrl.frmPaciente.ciudad.$touched" ng-messages="$ctrl.frmPaciente.ciudad.$error" role="alert">
                                                                <span ng-messages-include="~/Home/FormElementError" class="ng-mesagges"></span>
                                                            </div>
                                                        </md-input-container>
                                                    </div>
                                                </div>
                                                <div class="form-row">
                                                    <div class="form-group col-md-8">
                                                        <md-input-container class="form-group md-block">
                                                            <label for="direccion">Dirección</label>
                                                            <input type="text" id="direccion" name="direccion" autocomplete="off"
                                                                   value="" class="form-control" ng-model="$ctrl.paciente.Direccion" maxlength="150" />
                                                            <div ng-show="$ctrl.frmPaciente.direccion.$touched" ng-messages="$ctrl.frmPaciente.direccion.$error" role="alert">
                                                                <span ng-messages-include="~/Home/FormElementError" class="ng-mesagges"></span>
                                                            </div>
                                                        </md-input-container>
                                                    </div>
                                                    <div class="form-group col-md-4">
                                                        <md-input-container class="form-group md-block">
                                                            <label for="codigopostal">Código Postal</label>
                                                            <input type="text" id="codigopostal" name="codigopostal" autocomplete="off"
                                                                   class="form-control" ng-model="$ctrl.paciente.CodigoPostal" maxlength="7" />
                                                            <div ng-show="$ctrl.frmPaciente.codigopostal.$touched" ng-messages="$ctrl.frmPaciente.codigopostal.$error" role="alert">
                                                                <span ng-messages-include="~/Home/FormElementError" class="ng-mesagges"></span>
                                                            </div>
                                                        </md-input-container>
                                                    </div>
                                                </div>
                                                <div class="form-row">
                                                    <div class="form-group col-md-4">
                                                        <md-input-container class="form-group md-block">
                                                            <label for="telefono">Teléfono</label>
                                                            <input type="tel" class="form-control" id="telefono"
                                                                   name="telefono" ng-model="$ctrl.paciente.Telefono" autocomplete="off" maxlength="30"/>
                                                            <div ng-show="$ctrl.frmPaciente.telefono.$touched" ng-messages="$ctrl.frmPaciente.telefono.$error" role="alert">
                                                                <span ng-messages-include="~/Home/FormElementError" class="ng-mesagges"></span>
                                                            </div>
                                                        </md-input-container>
                                                    </div>
                                                    <div class="form-group col-md-4">
                                                        <md-input-container class="form-group md-block">
                                                            <label for="telefono2">Otro Teléfono</label>
                                                            <input type="tel" class="form-control" id="telefono2" autocomplete="off"
                                                                   name="telefono2" ng-model="$ctrl.paciente.Telefono2" maxlength="30"/>
                                                            <div ng-show="$ctrl.frmPaciente.telefono2.$touched" ng-messages="$ctrl.frmPaciente.telefono2.$error" role="alert">
                                                                <span ng-messages-include="~/Home/FormElementError" class="ng-mesagges"></span>
                                                            </div>
                                                        </md-input-container>
                                                    </div>
                                                    <div class="form-group col-md-4">
                                                        <md-input-container class="form-group md-block">
                                                            <label for="celular">Celular</label>
                                                            <input type="tel" class="form-control" id="celular" autocomplete="off"
                                                                   name="celular" ng-model="$ctrl.paciente.Celular" maxlength="30"/>
                                                            <div ng-show="$ctrl.frmPaciente.celular.$touched" ng-messages="$ctrl.frmPaciente.celular.$error" role="alert">
                                                                <span ng-messages-include="~/Home/FormElementError" class="ng-mesagges"></span>
                                                            </div>
                                                        </md-input-container>
                                                    </div>
                                                </div>
                                                <div class="form-row">
                                                    <div class="form-group col-md">
                                                        <md-input-container class="form-group md-block">
                                                            <label for="mail">E-Mail</label>
                                                            <input type="email" class="form-control" id="mail" autocomplete="off"
                                                                   name="mail" ng-model="$ctrl.paciente.Mail"  maxlength="50"/>
                                                            <div ng-show="$ctrl.frmPaciente.mail.$touched" ng-messages="$ctrl.frmPaciente.mail.$error" role="alert">
                                                                <span ng-messages-include="~/Home/FormElementError" class="ng-mesagges"></span>
                                                            </div>
                                                        </md-input-container>
                                                    </div>
                                                </div>
                                            </fieldset>
                                            <div class="clearfix"></div>
                                            <fieldset class="m-0 pt-0 pb-0">
                                                <div class="form-row">
                                                    <div class="form-group col-md-12">
                                                        <md-input-container class="form-group md-block">
                                                            <label for="observaciones">Observaciones</label>
                                                            <textarea id="observaciones" name="observaciones" ng-model="$ctrl.paciente.Observaciones" maxlength="150" rows="1" md-select-on-focus></textarea>

                                                        </md-input-container>
                                                    </div>
                                                </div>
                                            </fieldset>

                                            <fieldset class="m-0 pt-0 pb-0">
                                                <div class="form-row">

                                                    <div class="form-group col-sm">
                                                        <md-input-container class="md-block">
                                                            <md-switch class="md-primary" name="special" ng-model="$ctrl.paciente.Anual">
                                                                <span>Anual</span>
                                                            </md-switch>
                                                        </md-input-container>
                                                    </div>

                                                    <div class="form-group col-sm">
                                                        <md-input-container class="md-block">
                                                            <md-switch class="md-primary" name="special" ng-model="$ctrl.paciente.Habilitado" ng-init="true">
                                                                <span ng-show="$ctrl.paciente.Habilitado">Habilitado</span>
                                                                <span ng-hide="$ctrl.paciente.Habilitado">Deshabilitado</span>
                                                            </md-switch>
                                                        </md-input-container>
                                                    </div>
                                                </div>
                                            </fieldset>
                                            <fieldset class="m-0 p-2 bg-danger text-center text-white" ng-hide="$ctrl.frmPaciente.$valid">
                                                <span>Hay datos incompletos/erroneos.</span>
                                            </fieldset>
                                        </form>
                                    </div>
                                </md-content>
                            </md-tab>
                            <md-tab label="Turnos">
                                <md-content>
                                    <paciente-turnos paciente="$ctrl.paciente" pacienteid="$ctrl.pacienteid" parent="$ctrl.parent" on-close="$ctrl.close()" on-adddiagnostico="$ctrl.reloadDiagnostico"></paciente-turnos>
                                </md-content>
                            </md-tab>
                            <md-tab label="Diagnosticos">
                                <md-content>
                                    <table ng-if="$ctrl.diagnosticos.length>0" class="table table-responsive-sm table-hover table table-responsive-sm table-hover border">
                                        <thead>
                                            <tr>
                                                <th scope="col" class="p-2">Turno</th>
                                                <th scope="col" class="p-2">Fecha</th>
                                                <th scope="col" class="p-2">Tipo</th>
                                                <th scope="col" class="p-2">Código</th>
                                                <th scope="col" class="p-2">Diagnóstico</th>

                                            </tr>
                                        </thead>
                                        <tr ng-repeat="diagnostico in $ctrl.diagnosticos">
                                            <td class="text-left w-auto p-1">{{diagnostico.TurnoID}}</td>
                                            <td class="text-left w-auto p-1">{{diagnostico.Fecha.substr(0,10) | date: "dd/MM/yyyy"}}</td>
                                            <td class="text-left w-auto p-1">{{$ctrl.getTipoSesion(diagnostico.Tipo)}}</td>
                                            <td class="text-left w-auto p-1">{{diagnostico.CodigoPractica}}</td>
                                            <td class="text-left w-100 p-1">
                                                <div ng-if="diagnostico.TurnoID > 0">{{diagnostico.Diagnostico}}</div>
                                                <div ng-if="diagnostico.TurnoID == 0" ng-bind-html="$ctrl.OldDiagnostico"></div>
                                            </td>
                                        </tr>
                                    </table>

                                </md-content>
                            </md-tab>
                            <md-tab label="Archivos">
                                <md-content>
                                    <div class="container-fluid p-0" ng-if="$ctrl.paciente.ID>0">
                                        @Html.Partial("ViewFiles", "Paciente")
                                    </div>
                                </md-content>
                            </md-tab>
                        </md-tabs>
                    </md-content>
                </div>
            </div>
            <div class="modal-footer">
                <md-button type="button" class="md-raised md-warn" ng-click="$ctrl.close()" data-dismiss="modal"><i class="icon-cancel"></i> Cancelar</md-button>
                <md-button type="submit" class="md-raised md-primary" ng-click="$ctrl.savePaciente()"><span class="icon-floppy"></span> Guardar</md-button>
                <div ng-transclude="botton"></div>
            </div>
        </div>
    </div>
</div>


