<div class="container-fluid overflow-auto p-2 vh-50">    
    <div ng-repeat="turno in $ctrl.turnos" class="border border-info p-0 m-0" id="div{{turno.ID}}" ng-hide="$ctrl.reading">
        <table class="table table-sm table-responsive-sm table-hover table table-bordered m-0 p-1" style="caption-side:top;" ng-hide="$ctrl.reading">
            <caption style="caption-side:top;" class="m-0 p-1 text-left">
                <span style="cursor:pointer" ng-click="turno.visible = !turno.visible">Turno {{turno.ID}} - {{$ctrl.toDate(turno.begin)}} a {{$ctrl.toDate(turno.end)}} - {{turno.CantidadSesiones}} Sesiones</span>
                <span style="cursor:pointer" class="icon-print text-primary font-weight-bold" ng-click="$ctrl.turnoPrint(turno)"></span>
                <span style="cursor:pointer" class="icon-cancel text-danger font-weight-bold" ng-click="$ctrl.cancelarSesionSelect($event, turno)"></span>
            </caption>
            <thead>
                <tr ng-show="turno.visible" class="bg-light">
                    <th scope="col" class="text-center w-auto">Número</th>
                    <th scope="col" class="text-center w-25">Fecha</th>
                    <th scope="col" class="text-center w-25">Horario</th>
                    <th scope="col" class="text-center w-25">Consultorio</th>
                    <th scope="col" class="text-center w-25">Estado</th>
                </tr>
            </thead>
            <tr ng-show="turno.visible" ng-repeat="sesion in turno.Sesions track by $index" ng-click="$ctrl.sesionClick(sesion.FechaHora)" style="cursor:pointer">
                <td class="text-center w-auto">{{sesion.Numero}}</td>
                <td class="text-center w-25">{{$ctrl.toDate(sesion.FechaHora)}}</td>
                <td class="text-center w-25">{{$ctrl.toHourRange(sesion.FechaHora, sesion.sesiones)}}</td>
                <td class="text-center w-25">{{$ctrl.getNombreConsultorio(sesion.ConsultorioID)}}</td>
                <td class="text-center w-25">{{$ctrl.getNombreEstado(sesion.Estado)}}</td>
            </tr>
        </table>
    </div>
</div>

