.ui-draggable .modal-header{
    cursor:move;
}

.modal-fixed{
    position: fixed;
    top:0 !important;
    /*z-index:3000;*/

}


body, html{
    height: auto !important;
    min-height: 100vh;
}

#main {
    min-height: calc(100vh - 145px);
}

span.btn.ng-hide{
    opacity:0;
}

.ref-dia{
    padding:0.2rem;
}

.ref-dia:hover {
    cursor: pointer;    
    font-weight: 600;
}

.notification-bar {
    display: flex;
    flex-direction: row-reverse;
    position: fixed;
    top: 4.5rem;
    right: 1rem;
    height: auto;
    width: auto;
    z-index: 1000;
    transition: all 0.4s;
}


.context-menu-list, .datepicker {
    z-index: 2000 !important;
}

/*search-paciente{
    position: fixed;
    top:0px;
    right: 0px;
    z-index: 2000;
}*/
table, tr, td {
    font-size: 0.8rem !important;
}

span.btn.ng-show {
    opacity: 1;
}

span.btn{
    padding:0px;
    font-size:1.2em;
}

span.btn.icon-edit{
    color:green;
    transition: all linear 0.5s;
}

span.btn.icon-trash-empty {
    color: red;    
}

span.btn.icon-floppy{
    color:blue;
    transition: all linear 0.5s;
}

input[type="color"] {
    padding: 0px;
    cursor: pointer;
}

.modal-content, header {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
}

.animate-table-repeat.ng-move,
.animate-table-repeat.ng-enter,
.animate-table-repeat.ng-leave {
    transition: transform linear 0.5s;
    transform: scale(0);
}

.animate-table-repeat.ng-leave.ng-leave-active,
.animate-table-repeat.ng-move,
.animate-table-repeat.ng-enter {
    /*opacity: 0;    */
    transform: scale(0);
}

.animate-table-repeat.ng-leave,
.animate-table-repeat.ng-move.ng-move-active,
.animate-table-repeat.ng-enter.ng-enter-active {
    /*opacity: 1;*/
    transform: scale(1);
}


.md-select-menu-container {
    z-index: 2000!important;
}

.md-datepicker-calendar-pane{
    z-index: 2000 !important;
}

._md-datepicker-floating-label._md-datepicker-has-calendar-icon .md-input-message-animation{
    margin-left:0px;
}

._md-datepicker-floating-label._md-datepicker-has-calendar-icon > label:not(.md-no-float):not(.md-container-ignore) {
    right: auto!important;
    left: 0px !important;
    width: auto!important;
}

.md-datepicker-button {
    display: none !important;
}

.md-datepicker-input-container {
    margin-left: 0 !important;
    /*width: calc(100% - 52px);*/
    width: 100%;
}

md-icon-button{
    display:none !important;
}

.ng-mesagges {
    transition: all linear 2s !important;
}

    .ng-mesagges.ng-active {
        opacity: 1 !important;
        height: auto !important;
    }

    .ng-mesagges.ng-inactive {        
        opacity: 0 !important;
        height: 0px !important;
    }


fieldset {    
    border-collapse: collapse;
    padding: 15px;
}

img {
    box-shadow: 2px 2px rgba(0,0,0,0.1) inset, 2px 2px rgba(0,0,0,0.2);
    padding: 15px;
}

.invalid {
    border: 1px #f00 solid;
}

input, select, textarea {
    max-width: none !important;
    box-shadow: none !important;
}

md-content{
    background: #fff !important;
}

.fixed-index{
    z-index:1050 !important;
}


.md-autocomplete-suggestions-container{
    z-index: 2000 !important;
}

.md-dialog-container{
    z-index: 1500;
}

.loader-content{
    width:100%;
    text-align: center;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 60px;
    height: 60px;    
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 0.5s linear infinite;    
}

input[readonly]{
    background: inherit !important;
}

/***********bar-component****************/
.bar-component {
    height: auto;
    width: auto;
    padding: .5rem 1rem .5rem 1rem;
    background: rgb(71,119,168);
    opacity: 0.6;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: white;
    transition: all 0.4s;
    z-index: 500;
}



    .bar-component > p {
        margin: 0px;
    }

    .bar-component li {
        list-style: none;
        display: none;
        margin: 0rem 1rem;
    }

    .bar-component:hover {
        opacity: 1;
    }


        .bar-component:hover li {
            display: block;
        }

        .bar-component:hover ul {
            display: block;
            max-height: 40vh;
            overflow: auto;
        }

    .bar-component ul {
        margin: 0px;
        padding: 0px;
        display: none;
    }

    .bar-component > p:first-child {
        display: block;
    }

/**********PacientesAnualesSinSesiones**********/
.pacienteSinSesionesAnuales:hover > p:first-child > span:last-child::after {
    content: "Pacientes ultimas 20 sesiones.";
    margin-left: 0.4rem;
}

/**********ausenciasProfesionalesComponent****************/
.ausenciasProfesionalesComponent:hover > p:first-child > span:last-child::after {
    content: "Profesionales Ausentes";
    margin-left: 0.4rem;
}

.ausenciasProfesionalesComponent .boton {
    color: #ccc;
    cursor: pointer;
}

    .ausenciasProfesionalesComponent .boton:hover {
        color: #fff;
    }

/**********TurnoSinFechaComponent****************/

.sinFechaComponent:hover > p:first-child > span:last-child::after {
    content: "Hay Sesiones sin asignar.";
    margin-left: 0.4rem;
}

.sinFechaComponent .boton {
    color: #ccc;
    cursor: pointer;
}

    .sinFechaComponent .boton:hover {
        color: #fff;
    }

/*.sinFechaComponent {
    position: fixed;
    top: 80px;
    right: 0px;   
    height: auto;
    width: auto;
    padding: 15px 1rem 10px 1rem;
    background: rgb(71,119,168);
    opacity: 0.6;
    border-bottom-left-radius: 10px;
    color: white;
    transition: all 0.4s;
    z-index: 500;
}

    .sinFechaComponent .boton {
        color: #ccc;
        cursor: pointer;                        
    }

        .sinFechaComponent .boton:hover {
            color: #fff;            
        }

.sinFechaComponent > p {
    margin: 0px;
}

.sinFechaComponent li {
    list-style: none;
    display: none;
    margin: 0rem 1rem;
}

.sinFechaComponent:hover {
    opacity: 1;
}

    .sinFechaComponent:hover > p:first-child > span:last-child::after {
        content: "Hay Sesiones sin asignar.";
        margin-left: 0.4rem;

    }

    .sinFechaComponent:hover li {
        display: block;
    }

    .sinFechaComponent:hover ul {
        display: block;
        max-height: 40vh;
        overflow: auto;
    }

.sinFechaComponent ul {
    margin: 0px;
    padding: 0px;
    display: none;
}

.sinFechaComponent > p:first-child {
    display: block;
}*/



/*********Semanal***********/
.reservas {
    position: fixed;
    top: 4rem;
    left: 0px;
    display: none;
    height: auto;
    width: auto;
    padding: 15px 0px 10px 1rem;
    background: rgb(71,119,168);
    opacity: 0.6;
    border-bottom-right-radius: 10px;
    color: white;
    transition: all 0.4s;
    max-height: 50vh;
    overflow: auto;
    z-index: 500;
}

    .reservas:hover #btnDivReservasCancelar{
        display: inline-block;
    }

    #btnDivReservasCancelar {
        color: red;
        cursor: pointer;
        border: 1px solid red;
        border-radius: 50%;
        margin-left: 3rem;
        display: none;
    }

    #btnDivReservasCancelar:hover {
        color: rgb(71,119,168);
        background: red;
    }

#btnDivReservasAceptar {
    color: blue;
    cursor: pointer;
    border: 1px solid blue;
    border-radius: 50%;
    margin-right: 1rem;
    display: none;
}

.reservas:hover #btnDivReservasAceptar {
    display: inline-block;
}

    #btnDivReservasAceptar:hover {
        color: rgb(71,119,168);
        background: blue;
    }

.reservas > p {
    margin: 0px;
}

.reservas li {
    list-style: none;
    display: none;
    margin: 0rem 1rem;
}

.reservas:hover {
    opacity: 1;
}

    .reservas:hover li {
        display: block;
    }

    .reservas:hover ul {
        display: block;
    }

.reservas.show {
    display: block;
}

.reservas ul {
    margin: 2px;
    padding: 0px;
    display: none;
}

.reservas > p:first-child {
    display: block;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.grillaTurnos {
    width: 100%;
    height: 1px;
    font-size: .7rem !important;
}

    .grillaTurnos, .grillaTurnos th, .grillaTurnos td {
        border: 1px solid #000;
        border-collapse: collapse;
        font-size: .6rem;
        line-height: 1em !important;
    }

        .grillaTurnos th, .grillaTurnos td {
            text-align: center;
        }

.etiqueta-dia {
    text-transform: capitalize;
}

.center {
    text-align: center;
}

.turno-bloqueo-agenda {
    cursor: not-allowed;
}

.celda-turno.turno-tomado {
    transition: all 0.4s;
}

.celda-turno.turno-vacio:hover {
    border: 2px solid #000;
}

/*.celda-turno.turno-tomado:hover {
            transform: scale(1.2);
            border-radius: 3px;
            box-shadow: 2px 2px 2px #000;
        }*/

.celda-turno.turno-bloqueado {
    background: linear-gradient(to bottom right, #f5050c, #aaa);
}

.turno-receso {
    background: linear-gradient(to bottom right, #2d367c, #aaa);
    cursor: not-allowed;
}

    .turno-receso > p {
        transform: rotate(-45deg);
        font-weight: bold;
        color: #ccc;
        font-size: 2rem;
        text-shadow: 2px 2px 2px #000;
        cursor: not-allowed;
    }

.turno-feriado {
    background: linear-gradient(to bottom right, #1e4f54, #aaa);
    cursor: not-allowed;
}

    .turno-feriado > p {
        transform: rotate(-45deg);
        font-weight: bold;
        color: #ccc;
        font-size: 2rem;
        text-shadow: 2px 2px 2px #000;
        cursor: not-allowed;
    }

.celda-turno p {
    padding: 0px;
    margin: 0px;
}

/*.turno-tomado{
        position: relative;
    }

        .turno-tomado div:nth-last-child(2) {
            position: absolute;
            top: 1rem;
            left: 1rem;
            z-index: 10;
        }*/


.div-turno {
    margin: 0px;
    /*height: 100%;
        width: 100%;*/
    transition: all 0.1s;
    padding: .2rem;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;   
    overflow:hidden;    
    
}

.tabla-consultorio {
    font-weight: 600;
    cursor: not-allowed;
}

.tabla-horario {
    padding: 0.1rem;
    cursor: not-allowed;
}

.div-turno:hover {    
    transform: scale(1.2);
    border-radius: 3px;
    box-shadow: 2px 2px 2px 1px #000;
    z-index: 500;
}

.h-50.div-turno:first-child {
    border-bottom: dashed 1px #aaa;
}

.h-50.div-turno:hover {
    overflow: visible;
    height: auto !important;
    min-height: 50%;
    border-bottom: none;
}

.div-turno[data-estado="2"]:hover {
    cursor: pointer !important;
}

.hover-title {
    /*font-weight: bold;*/
    /*box-shadow: 2px 2px 2px #000 inset;*/
    color: red;
}

.hover-drag-title {
    /*font-weight: bold;*/
    /*box-shadow: 2px 2px 2px #000 inset;*/
    color: white;
    background:#000;
}

.dragenter {
    background-color: #222 !important;
    cursor: cell !important;
}

.procesando {
    width: 100%;
    z-index: 1000;
    height: 100vh;
    background-color: rgba(0,0,0,0.3);
    position: fixed;
    top: 0px;
    left: 0px;
    display: none;    
}

.procesando > div {
    height:100vh; 
    z-index:2000;
    display:flex;
    justify-content: center; 
    flex-direction: column;
    text-align: center;
}

.sin-fecha{
    background: #fff;
    color:red;
    border-radius: .5rem;
    display: block;
    cursor:pointer;
    transition: all linear .2s;
}

    .sin-fecha:hover {
        color: #fff;
        background: red;
    }


    /**********Botonera turno confirmado*/
    .botonera  .md-button{
        font-size: 0.7rem !important;
        min-height: 1rem !important;
        line-height: 1.5rem !important;
    }

.botonera{
    text-align: center;
}

.botonera-turno-confirmado [type="button"] {
    min-width: 2rem;
}

.botonera-turno-confirmado .btn-asistio:hover::after {
    content: "Asistio";
}

.botonera-turno-confirmado .btn-noasistio:hover::after {
    content: "No asistio";
}

.botonera-turno-confirmado .btn-posponer:hover::after {
    content: "Posponer";
}

.botonera-turno-confirmado .btn-agregar:hover::after {
    content: "Agregar";
}

.botonera-turno-confirmado .btn-cancelar:hover::after {
    content: "Cancelar";
}

.botonera-turno-confirmado .btn-dobleorden:hover::after {
    content: "Doble Orden";
}

.botonera-turno-confirmado .btn-diagnostico:hover::after {
    content: "Diagnóstico";
}

.botonera-turno-confirmado .btn-imprimir:hover::after {
    content: "Imprimir";
}

.botonera-turno-confirmado .btn-mail:hover::after {
    content: "Enviar";
}


.reduce-input-container md-input-container label:not(.md-container-ignore) {
    bottom: 80% !important;
}



@media only screen and (max-width: 991px) and (min-width: 576px){
    .notification-bar {        
        top: 3.5rem;        
    }
    .reservas {
        top: 3rem;
    }
/*    .sinFechaComponent {
        top: 60px;
    }*/
   
}

@media only screen and (max-width: 576px) {
    .notification-bar {
        top: 4.3rem;
    }
   

    
}

@media only screen and (max-width:365px) {
    .navbar search-paciente{
        display:none;
    }
    .notification-bar {
        top: 2.5rem;
    }

    .reservas {
        top: 2rem;
    }
}