<div id="CreateOrUpdate" class="modal fade bd-example-modal-lg" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header badge-primary">
                <h4 class="modal-title text-capitalize"><span class="icon-hospital"></span>{{aseguradora.Descripcion}}</h4>
                <button type="button" class="close" data-dismiss="modal" ng-click="close()">&times;</button>
            </div>
            <div class="modal-body">
                <form name="frmAseguradora" id="frmAseguradora">
                    <input type="hidden" class="form-control" ng-model="aseguradora.ID">
                    <fieldset>
                        <div class="row">
                            <div class="col-md-9 form-group">
                                <md-input-container class="md-block">
                                    <label for="Descripcion">Descripcion:</label>
                                    <input type="text" class="form-control" id="Descripcion" name="descripcion" ng-model="aseguradora.Descripcion" maxlength="50" required>
                                    <div ng-show="frmAseguradora.descripcion.$touched" ng-messages="frmAseguradora.descripcion.$error" role="alert">
                                        <span ng-messages-include="~/Home/FormElementError" class="ng-mesagges"></span>
                                    </div>
                                </md-input-container>
                            </div>
                            <div class="col-md-3 form-group">
                                <md-input-container class="md-block">
                                    <label for="Color">Color</label>
                                    <input type="color" id="Color" name="color" ng-model="aseguradora.Color">
                                </md-input-container>
                            </div>
                            
                        </div>
                        <div class="row p-0 m-0">

                            <div class="form-group col-md-3 p-0 m-0">
                                <md-input-container class="md-block p-0 m-0">
                                    <md-switch class="md-primary" name="special" ng-model="aseguradora.Habilitado" ng-init="true">
                                        <span ng-show="aseguradora.Habilitado">Habilitado</span>
                                        <span ng-hide="aseguradora.Habilitado">Deshabilitado</span>
                                    </md-switch>
                                </md-input-container>
                            </div>
                            <div class="col-md-9 form-group p-0 m-0">
                            </div>
                        </div>
</fieldset>
                </form>
                <fieldset class="mt-0 pt-0">
                    <div class="row">
                        <div class="col-12">
                            <form name="frmPlan" id="frmPlan" novalidate>
                                <div class="form-group">
                                    <md-input-container class="md-block">
                                        <label for="plan">
                                            Nuevo Plan
                                        </label>
                                        <input name="plan" id="plan" type="text" ng-model="planModel.Descripcion" required />
                                        <md-icon ng-click="AgregarPlan()" class="icon-plus-circled" style="color:green;font-size:1.5rem"></md-icon>

                                    </md-input-container>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="row">
                        <table class="table" ng-show="aseguradora.AseguradoraPlan.length>0">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="colgroup">*</th>
                                    <th scope="col" ng-show="true==false">
                                        Id
                                    </th>
                                    <th scope="col">
                                        Plan
                                    </th>
                                    <th scope="col">
                                        Habilitado
                                    </th>
                                    <th>
                                        Modificado
                                    </th>
                                    <th>

                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="(index, plan) in aseguradora.AseguradoraPlan track by index">
                                    <th scope="row">
                                        {{index+1}}
                                    </th>
                                    <td ng-show="true==false">
                                        <span ng-hide="planEdit==index">{{plan.ID}}</span>
                                    </td>
                                    <td>
                                        <span ng-hide="planEdit==index">{{plan.Descripcion}}</span>
                                        <input type="text" ng-show="planEdit==index" ng-model="plan.Descripcion">
                                    </td>
                                    <td>
                                        <input type="checkbox" class="form-check" ng-disabled="planEdit!=index" ng-model="plan.Habilitado" />
                                    </td>
                                    <td>
                                        {{plan.FechaModificacion.substr(6,13) | date: "MM/dd/yyyy HH:mm:ss"}}
                                    </td>
                                    <td>
                                        <span class="icon-edit btn" ng-hide="planEdit==index" ng-click="setEditMode(index)"></span>
                                        <span class="icon-floppy btn" ng-show="planEdit==index && plan.Descripcion.length>0" ng-click="setEditMode(-1)"></span>
                                        <span class="icon-trash-empty btn" ng-click="EliminarPlan(plan, index)"></span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </fieldset>
            </div>
            <div class="modal-footer">
                <md-button type="button" class="md-raised md-warn" ng-click="close()" data-dismiss="modal"><i class="icon-cancel"></i> Cancelar</md-button>
                <md-button type="submit" class="md-raised md-primary" ng-click="saveForm()"><span class="icon-floppy"></span> Guardar</md-button>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('.modal-dialog').draggable({handle: ".modal-header"});
    });
</script>

