USE [Consultorio]
GO
/****** Object:  Table [dbo].[PacienteDiagnostico]    Script Date: 09/08/2019 12:55:38 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PacienteDiagnostico](
	[PacienteID] [int] NOT NULL,
	[Diagnostico] [varchar](max) NULL,
 CONSTRAINT [PK_PacienteDiagnostico_1] PRIMARY KEY CLUSTERED 
(
	[PacienteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
INSERT [dbo].[PacienteDiagnostico] ([PacienteID], [Diagnostico]) VALUES (3, N'06/07/2015%3A%20Sme%20friccion%20manguito%20rotador%20hombro%20der%20FKT%26nbsp%3B')
INSERT [dbo].[PacienteDiagnostico] ([PacienteID], [Diagnostico]) VALUES (4, N'22/11/2011:postquirurg neuroma de Norton + fascitis plantar')
GO
ALTER TABLE [dbo].[PacienteDiagnostico]  WITH NOCHECK ADD  CONSTRAINT [FK_PacienteDiagnostico_Paciente] FOREIGN KEY([PacienteID])
REFERENCES [dbo].[Paciente] ([ID])
GO
ALTER TABLE [dbo].[PacienteDiagnostico] CHECK CONSTRAINT [FK_PacienteDiagnostico_Paciente]
GO
